.features{
    background: var(--hover-color);
    flex-wrap: wrap;
    gap: 0rem;
    padding-block: 4rem;
    justify-content: space-around;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    text-align: center;
    transition: .3s linear;
}
.feature:hover{
    transform: translateY(-5px);
}
.feature i{
    font-size: 1.8rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: .9rem;
    border-radius: 50%;
}
.feature h3{
    color: var(--header-color);
    font-size: 1.3rem;
    margin-block: .8rem;
}
.feature p{
    color: var(--text-color);
    line-height: 1.45rem;
    font-size: .9rem;
}