.hero .text{
    display: flex;
    flex-direction: column;
    gap:.6rem;
    width: 50%;
}
.hero .text .collection{
    background: var(--hover-color);
    border-radius: 1rem;
    padding: .5rem;
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    width: 15rem;
}
.hero .text h1{
    border-radius: 1rem;
    padding: .5rem;
    margin-block: 1rem;
    color: var(--header-color);
    line-height: 3.4rem;
    font-weight: 700;
    font-size: 3rem;  
}
.hero .text p{

    color: var(--text-color);
    line-height: 1.4rem;
    font-weight: 400;
    font-size: .86rem;  
}
.hero{
    margin-top: 8.4rem;
    gap:2rem;
    margin-bottom: 8rem;
}

.buttons{
    display: flex;
    gap:1rem;
    margin-top: 1rem;
}
.btn
{
  width: 10rem;
  height: 3rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  transition: .2s linear;
}
.btn:hover,
.btn_light{
    color: var(--primary-color);
    background: var(--white-color);
}
.btn_light:hover{
    color: var(--white-color);
    background: var(--primary-color);
}
.featured{
    display: flex;
    gap: 1.6rem;
    margin-top: 2rem;
}
.featured span{
    display: flex;
    align-items: flex-end;
    gap: 0.6rem;
}
.featured span i{
    color: var(--primary-color);
    font-size: 1.3rem;
}
.featured span p{
    color: var(--header-color) !important;
    font-weight: 500 !important;
}
.hero .image{
    position: relative;
    width: 40%;
}
.networking-opportunities,
.company-reviews,
.application-tracking
{
 position: absolute;
}
.networking-opportunities,
.application-tracking
{
    width: 9rem;
    display: flex;
    background: var(--white-color);
    align-items: center;
    gap: 0rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: .5rem;
}
.company-reviews{
    top: 3rem;
    right: 2rem;
    border-radius: 50%;
    width: 5.8rem;
    height: 6.6rem;
    text-wrap: wrap;
    text-align: center;
    background: var(--primary-color);
    color: var(--white-color);
    padding: .2rem;
}
.company-reviews p{
    font-size: .96rem;
    font-weight: 500;
    line-height: 1.1rem;
}
.company-reviews i{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--hover-color)
}
.networking-opportunities p,
.application-tracking p{
    color: var(--pure-black);
    font-size: .88rem;
    font-weight: 500;
    line-height: 1.2rem;
}
.networking-opportunities i,
.application-tracking i{
   color: var(--primary-color);
   font-size: 1.4rem;
   margin-right: .8rem;
}
.networking-opportunities{
    top: 4rem;
    left: 0rem;
}
.application-tracking{
    bottom: 0rem;
    right: 0rem;
}
.hero .image img{
    width: 120%;
    margin-left: -4rem;
  }